<div class="new-exam">
    <mat-horizontal-stepper linear #stepper [selectedIndex]="stepperIndex">
        <mat-step label="Nom de la matière" [completed]="startAdd" >
            <div class="rowm field AddSubject row-mt-20">
                <mat-form-field appearance="outline">
                    <mat-label>MATIERE</mat-label>
                    <input matInput type="text" [formControl]="name" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>CLASSE</mat-label>
                    <mat-select formControlName="classe">
                        <mat-option *ngFor="let classe of classes" [value]="classe" required>
                          {{ classe }}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>

            </div>
            <div >
            <button mat-raised-button  mat-raised-button matStepperNext color="primary"  type="submit" (click)="start()">COMMENCER</button>
             </div>



        </mat-step>
        <mat-step label="Questions de {{name.value}}" [completed]="previewView">
            <div class="question">
                <form [formGroup]="questionsForm" >
                    <mat-form-field appearance="outline" color="warn" class="queiz">
                        <mat-label>Question</mat-label>
                        <input matInput type="text" formControlName="question"  >
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <mat-radio-button value="answer1" (change)="getCorrect($event)" color="warn"></mat-radio-button>
                            <mat-form-field color="warn">
                                <mat-label>Réponse A</mat-label>
                                <input matInput type="text" formControlName="answer1" >
                            </mat-form-field>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <mat-radio-button value="answer2" (change)="getCorrect($event)"  color="warn"></mat-radio-button>
                            <mat-form-field color="warn">
                                <mat-label>Réponse B</mat-label>
                                <input matInput type="text" formControlName="answer2"  >
                            </mat-form-field>

                        </div>

                        <div class="col-md-6 col-sm-12">
                            <mat-radio-button value="answer3" (change)="getCorrect($event)"  color="warn"></mat-radio-button>
                            <mat-form-field color="warn">
                                <mat-label>Réponse C</mat-label>
                                <input matInput type="text" formControlName="answer3"  >
                            </mat-form-field>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <mat-radio-button value="answer4" (change)="getCorrect($event)" color="warn"></mat-radio-button>
                            <mat-form-field color="warn">
                                <mat-label>Réponse D</mat-label>
                                <input matInput type="text" formControlName="answer4"  >
                            </mat-form-field>
                        </div>
                      <div class="col-md-6 col-sm-12">
                        <mat-form-field color="warn">
                          <mat-label>Note de question : </mat-label>
                          <input matInput type="text" formControlName="note"  >
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="questBtn">
                        <div>
                            <button mat-raised-button class="btn btn-success" matStepperNext (click)="submit()" disabled="{{questions.length ? false:true}}">Terminer</button>
                            <button mat-raised-button color="warn" matStepperPrevious (click)="cancel()">Annuler</button>
                        </div>
                        <div>
                            <button mat-raised-button color="accent"  (click)="clearForm()" matStepperPrevious>Supprimer</button>
                            <button mat-raised-button color="primary" [disabled]="questionsForm.invalid" (click)="creatQuestion()">Enregistrer</button>
                        </div>

                    </div>
                </form>
            </div>
        </mat-step>
        <mat-step label="Affichage de l'examen" completed="false">
            <div class="examBox">
                <div class="examhead text-center"><h2>Examen de {{subjectName}}</h2></div>
                <div class="quizBox" *ngFor="let item of questions,let index=index">
                    <strong><span class="text-danger">Question 1</span> {{item.question}}</strong>
                    <div class="row" >
                        <div class="col-sm-12">
                            A. {{item.answer1}}
                        </div>
                        <div class="col-sm-12">
                            B. {{item.answer2}}
                        </div>
                        <div class="col-sm-12">
                            C. {{item.answer3}}
                        </div>
                        <div class="col-sm-12">
                            D. {{item.answer4}}
                        </div>
                        <div class="col-sm-12">
                            <span class="text-success">Réponse correcte : {{item.correctAnswer}}</span>
                        </div>
                    </div>
                    <div class="text-right">
                        <button mat-raised-button class="btn btn-warning">Modifier</button>
                        <button mat-raised-button class="btn btn-danger">Supprimer</button>
                    </div>
                    <hr>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>
