<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <img src="assets/layout/images/logo-dark.svg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">               
                </div>
                <form [formGroup]="LoginForm" (ngSubmit)="submit()" >
                <div class="col-sm-12 mb-3">        
                    <mat-radio-group (change)="getRole($event)" formControlName="type"> 
                        <mat-radio-button value="student"   class="w-25" color="warn">Etudiant</mat-radio-button>
                        <mat-radio-button value="admin" class="w-25" color="warn">Admin</mat-radio-button>
                        <mat-radio-button value="professor"  class="w-25" color="warn">Enseignant</mat-radio-button>

                    </mat-radio-group>
                </div>
                <br><br>
                <div>
                    
                    <div class="col-md-6 col-sm-12">          
                        <mat-form-field appearance="outline" color="warn"  class="block text-900 font-medium text-xl mb-2" >                    
                            <mat-label>Email</mat-label>
                            <input matInput type="email" formControlName="email">
                        </mat-form-field>
                    </div>
        
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field appearance="outline" color="warn" class="block text-900 font-medium text-xl mb-2" >
                            <mat-label>Mot de passe</mat-label>
                            <input matInput type="password" formControlName="password">
                        </mat-form-field>
                    </div>

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1">Remember me</label>
                        </div>
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Forgot password?</a>
                    </div>
                    <button pButton pRipple label="Sign In" class="w-full p-3 text-xl" ></button>
                </div>
            </form>

            </div>
        </div>
    </div>
</div>

